<div class="container" style="margin : 2em;">
  <h3 style="text-align: center;">Body Piercing Customer Record SOHTattoo requires a COPY OF THE CUSTOMERS ID</h3>
  <p>
    I release all rights to PHOTOGRAPH – for advertising purposed in print, electronic form or exhibition. This studio has an online live auto feed.
    This form is complying with the record-keeping requirements of Chapter 64E-19, FAC and needs to be completed before service can be rendered.
    <strong style="font-size: 1.1em;">SOHTattoo DOES NOT PIERCE ANYONE UNDER THE AGE OF 18 NO EXCEPTIONS</strong>
  </p>
  <table style="width: 90%; margin: 0 auto;">
    <tr>
      <td>
        DATE:_______________________________
      </td>
    </tr>
    <tr>
      <td>
        Name:<span style="text-decoration: underline;"><%= @piercing_waiver.name %></span>
      </td>
      <td>
        Telephone#:<span style="text-decoration: underline;"><%= @piercing_waiver.contact_number %></span>
      </td>
    </tr>
    <tr>
      <td>
        Address:<span style="text-decoration: underline;"><%= @piercing_waiver.address %></span>
      </td>
      <td>
        City, State, Zip:
        <span style="text-decoration: underline;"><%= "#{@piercing_waiver.city}, #{@piercing_waiver.state}, #{@piercing_waiver.zipcode}" %></span>
      </td>
    </tr>
    <tr>
      <td>
        Date of Birth:<span style="text-decoration: underline;"><%= @piercing_waiver.date_of_birth %></span>
      </td>
      <td>
        Gender:<span style="text-decoration: underline;"><%= @piercing_waiver.gender %></span>
      </td>
    </tr>
  </table>

  <table style="width:90%;border: 1px solid black;">
    <tbody>
      <tr>
        <td>
          Physician Name: <span style="text-decoration: underline;"><%= @piercing_waiver.doc_name %></span>
        </td>
        <td>
          Address:<span style="text-decoration: underline;"><%= @piercing_waiver.doc_address %></span>
        </td>
      </tr>
      <tr>
        <td>
          City, State, Zip:
          <span style="text-decoration: underline;"><%= @piercing_waiver.doc_city %></span>
        </td>
        <td>
          Telephone#:<span style="text-decoration: underline;"><%= @piercing_waiver.doc_phone %></span>
        </td>
      </tr>
    </tbody>
  </table>

  <table style="width:90%;border: 1px solid black;">
    <tbody>
      <tr>
        <td>
          Emergency Contact Name: <span style="text-decoration: underline;"><%= @piercing_waiver.contact_name %></span>
        </td>
        <td>
          Telephone#:<span style="text-decoration: underline;"><%= @piercing_waiver.contact_number %></span>
        </td>
      </tr>
      <tr>
        <td>
          Address:<span style="text-decoration: underline;"><%= @piercing_waiver.contact_address %></span>
        </td>
        <td>
          City, State, Zip:
          <span style="text-decoration: underline;"><%= @piercing_waiver.contact_city %></span>
        </td>
      </tr>
    </tbody>
  </table>

  <p>
    List any allergies you have, including allergies to medications, and allergies to any topical solutions used by SOH. I have advised the artist of any allergies to metals, latex gloves, soaps and medications. I acknowledge it is not reasonably possible for the artist to determine whether I might have an allergic reaction to the process involved with the piercing and further acknowledge that such a reaction is possible.
  </p>
  <span style="text-decoration: underline;"><%= @piercing_waiver.allergies %></span>

  <p>
    History of Bleeding disorder? <br>
    <span style="text-decoration: underline;"><%= @piercing_waiver.disorder %></span>
  </p>


  <ul style="padding:0; margin:0;">
    <li>Body part getting pierced: <span style="text-decoration: underline;"><%= @piercing_waiver.body_part %></span></li>
    <li>Placement: <span style="text-decoration: underline;"><%= @piercing_waiver.placement %></span></li>
    <li>Description of any Complications during Piercing Procedure:
      <span style="text-decoration: underline;"><%= @piercing_waiver.implications %></span></li>
</ul>

  <p>
    Prior to my piercing, I received verbal and written information about the following and
    discussed it with my piercer or the establishment operator: 1) A brief description of my piercing
    procedure; 2) Any precautions for me to take before my piercing; 3) A description of the risk and
    possible consequences of body piercings sevices; 4) Instructions for care and restrictions
    following my piercing;
  </p>
    <table style="width:90%;">
      <tbody>
        <tr>
          <td>
            <ul style="list-style-type: none;padding:0; margin:0;">
              <li>_______________________________</li>
              <li style="text-align: center;">(Customer Signature)</li>
            </ul>
          </td>
          <td>
            <ul style="list-style-type: none;padding:0; margin:0;">
              <li>________</li>
              <li style="text-align: center;">(Date)</li>
            </ul>
          </td>
          <td>
            <ul style="list-style-type: none;padding:0; margin:0;">
              <li>_______________________________</li>
              <li style="text-align: center;">(Piercer/Operator Signature)</li>
            </ul>
          </td>
          <td>
            <ul style="list-style-type: none;padding:0; margin:0;">
              <li>________</li>
              <li style="text-align: center;">(Date)</li>
            </ul>
          </td>
        </tr>
      </tbody>
</div>
