<%= form_for @piercing, url: piercing_waiver_path do |f|%>
  <h1>Body Piercing Customer Record SOHTattoo requires a COPY OF THE CUSTOMERS ID</h1>
  <p>
    I release all rights to PHOTOGRAPH – for advertising purposed in print, electronic form or exhibition. This studio has an online live auto feed. This form is complying with the record-keeping requirements of Chapter 64E-19, FAC and needs to be completed before service can be rendered.
  </p>
  <p>
    SOHTattoo DOES NOT PIERCE ANYONE UNDER THE AGE OF 18 NO EXCEPTIONS
  </p>
    <%= f.text_field :name, class: 'form-control', placeholder: 'Your Name' %>

    <%= f.label :age, 'Age', class: "skinny_label" %><br>
    <%= f.number_field :age, within: 1...120, class:'form-control' %>

    <%= f.label 'contact', 'Contact Number', class: "skinny_label" %><br>
    <%= f.telephone_field :phone, class: "form-control" %><br>

    <%= f.submit "Submit", class: "btn btn-info" %>
  <% end %>
