<%= form_for @tattoo, url: tattoo_waiver_path do |f| %>
  <h1>South of Heaven Tattoo requires a Copy of the Customers ID</h1>
  <p>
    I release all rights to Photograph- for advertising purposes in
    print, electronic form or exhibition. This studio has an online, live auto feed.
  </p>
  <p>
    I acknowledge by signing this Release I have been given the full
    opportunity to ask any and all questions which I might have about
    obtaining a tattoo from South of Heaven Tattoo (SOHT) and all my
    questions have been answered to my full and total satisfaction.
  </p>
  <p>
    I acknowledge I have been advised of the matters set forth below and I agree as follows:
  </p>
  <p>
    This information is required by the Florida Health Department please fill it out completely.
  </p>

  Please write your full legal name
  <%= f.text_field :name, class: 'form-control', placeholder: 'Your Name' %>

  <%= f.label :age, 'Age', class: "skinny_label" %><br>
  <%= f.number_field :age, within: 1...120, class:'form-control' %>

  <%= f.label 'contact', 'Contact Number', class: "skinny_label" %><br>
  <%= f.telephone_field :phone, class: "form-control" %><br>

  <%= f.submit "Submit", class: "btn btn-info" %>
<% end %>
