<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SouthOfHeaven | Key Largo, Fl</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
<link rel="shortcut icon" href="/images/favicon.png" />

<link rel='stylesheet' href='/css/settings.css' type='text/css' media='all' />
		<link rel='stylesheet' href='/css/elegant-icon.css' type='text/css' media='all' />
		<link rel='stylesheet' href='/css/font-awesome.min.css' type='text/css' media='all' />
		<link rel='stylesheet' href='/css/style.css' type='text/css' media='all' />
		<link rel='stylesheet' href='/css/shop.css' type='text/css' media='all' />
		<link rel='stylesheet' href='/css/page.css' type='text/css' media='all' />
		<link rel='stylesheet' href='/css/preloader.css' type='text/css' media='all' />
		<link rel='stylesheet' href='/css/magnific-popup.css' type='text/css' media='all' />
		<link rel="stylesheet" href="/css/jquery.modal.css" type="text/css" media="screen" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
 		<%= Gon::Base.render_data %>



</head>
<body data-spy="scroll">
  <script type="text/javascript">
  $(document).ready(function() {
      //Check if the current URL contains '#'
      if(document.URL.indexOf("#")==-1){
          // Set the URL to whatever it was plus "#".
          url = document.URL;
          location = "#";

          //Reload the page
          location.reload(true);
      }
  });
  </script>
<!-- START SITE -->

<div id="wrapper" class="wide-wrap">



<!-- If you Pull the Pre-loader out and put on the homepage it breaks the homepage. -->

	<div id="preloader">
			<img class="preloader__logo" src="http://i.imgur.com/bHLNpJv.jpg" alt="logo"/>
			<div class="preloader__progress">
				<svg width="60px" height="60px" viewBox="0 0 80 80" xmlns="http://www.w3.org/2000/svg">
					<path class="preloader__progress-circlebg" fill="none" stroke="#dddddd" stroke-width="4" stroke-linecap="round" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
					<path id='preloader__progress-circle' fill="none" stroke="#57bb8a" stroke-width="4" stroke-linecap="round" stroke-dashoffset="192.61" stroke-dasharray="192.61 192.61" d="M40,10C57.351,10,71,23.649,71,40.5S57.351,71,40.5,71 S10,57.351,10,40.5S23.649,10,40.5,10z"/>
				</svg>
			</div>
		</div>

		<header class="header-container header-type-default header-navbar-default">

        <div class="topbar">
					<div class="container">
						<div class="row">
							<div class="col-md-5 col-sm-6">
								<div class="left-topbar">
            						<div class="topbar-info">
            							<a href="callto:3054511200"><i class="fa fa-phone"></i>(305) 451-1200</a>

            						</div>
            					</div>
							</div>
						</div>
					</div>
				</div>
				<div class="navbar-container">
					<div class="navbar navbar-default navbar-scroll-fixed">
						<div class="navbar-default-wrap">
							<div class="container">
								<div class="navbar-wrap">
									<div class="navbar-header">
										<button data-target=".primary-navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle">
											<span class="sr-only">Toggle navigation</span>
											<span class="icon-bar bar-top"></span>
											<span class="icon-bar bar-middle"></span>
											<span class="icon-bar bar-bottom"></span>
										</button>
										<a class="navbar-brand" title="SouthOfHeaven" href="/">
											<img class="logo" alt="AirSlice" src="http://i.imgur.com/bHLNpJv.jpg" />
											<img class="logo-fixed" alt="AirSlice" src="http://i.imgur.com/bHLNpJv.jpg" />
											<img class="logo-mobile" alt="AirSlice" src="http://i.imgur.com/bHLNpJv.jpg" />
										</a>
									</div>
									<nav class="collapse navbar-collapse primary-navbar-collapse">
										<ul class="nav navbar-nav primary-nav">
											<li class="menu-item-has-children dropdown active">
												<a title="Home" href="/" class="dropdown-hover">
													<i class="navicon elegant_icon_house_alt"></i>
													<span class="underline">Menu</span> <span class="caret"></span>
												</a>
												<ul class="dropdown-menu">
                          <li><a href="/">Home</a></li>
                          <li><a href="/contact">Contact Us</a></li>
                          <li><a href="#">Live Feed</a></li>
                          <li><a href="/waiver">Waivers</a></li>
												</ul>
											</li>

											<li class="menu-item-has-children megamenu megamenu-fullwidth dropdown active">
												<a title="Artits" href="/artists" class="dropdown-hover">
													<i class="navicon elegant_icon_profile"></i>
													<span class="underline">Artists</span> <span class="caret"></span>
												</a>
												<ul class="dropdown-menu" style="height: auto;">
													 <li class="menu-item-has-children mega-col-4">
														<h3 class="megamenu-title">
                              Artists <span class="caret"></span>
                            </h3>
							                <ul class="dropdown-menu mega-col-4">
                                <li><a href="/artists">View All</a></li>
                                <% artists.each do |artist| %>
                                  <li>
                                    <%= link_to artist.name, artist %>
                                  </li>
                                <% end %>
							                </ul>
                            </li>
													<li class="visible-lg-inline mega-col-8">
														<div class="megamenu-sidebar">
                              <% art = artists.sample %>
                              <% unless art == nil %>
                                <%= link_to image_tag(art.pic), artist_path(art), style: "float:left; margin:1vw; display: inline-table; max-width:7vw; max-height:7vh; width: auto; height: auto;" %>
                                <%= art.bio %>
                              <% end %>
														</div>
													</li>
												</ul>
											</li>
	              </ul>
	          </nav>
					</div>
				</div>
			</div>
		</div>
	</div>

</header>


</head>
<body>
  <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>

  <%= yield %>


<!-- START FOOTER WIDGET -->

<div class="footer-widget">
				<div class="container">
					<div class="footer-widget-wrap">
						<div class="row">
							<div class="footer-widget-col col-md-3 col-sm-6">
								<div class="widget widget_text">
									<div class="textwidget">
										<p>
											<img src="/images/footer-logo-white.png" alt="" width="150" />
											<br /><br />&nbsp; South Of Heaven Tattoo
											<br />

										</p>
									</div>
								</div>
								<div class="widget social-widget">
									<div class="social-widget-wrap social-widget-outlined">
										<a href="https://www.facebook.com/southofheaventattoo/" title="Facebook" target="_blank">
											<i class="fa fa-facebook facebook-bg-hover facebook-outlined"></i>
										</a>
										<!-- <a href="#" title="Twitter" target="_blank">
											<i class="fa fa-twitter twitter-bg-hover twitter-outlined"></i>
										</a> -->
										<a href="https://www.instagram.com/southofheaventattoo/" title="Instagram" target="_blank">
											<i class="fa fa-instagram instagram-bg-hover instagram-outlined"></i>
										</a>
										<a href="https://plus.google.com/113841781536523543519/about" title="Google+" target="_blank">
											<i class="fa fa-google-plus google-plus-bg-hover google-plus-outlined"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="footer-widget-col col-md-3 col-sm-6">
								<!-- <div class="widget widget-post-thumbnail">
									<h3 class="widget-title">
										<span>Popular Pots</span>
									</h3>
									<ul class="posts-thumbnail-list">
										<li>
											<div class="posts-thumbnail-image">
												<a href="#">
													<img width="600" height="450" src="images/blog/blog-1.jpg" alt="" />
												</a>
											</div>
											<div class="posts-thumbnail-content">
												<time datetime="2014-10-12T15:33:24+00:00">Oct 12, 2014</time>
												<h4><a href="#">Aliquam ac bibendum</a></h4>
											</div>
										</li>
										<li>
											<div class="posts-thumbnail-image">
												<a href="#">
													<img width="600" height="450" src="images/blog/blog-2.jpg" alt="" />
												</a>
											</div>
											<div class="posts-thumbnail-content">
												<time datetime="2014-08-27T15:27:37+00:00">Aug 27, 2014</time>
												<h4><a href="#">Nam mollis facilisis</a></h4>
											</div>
										</li>
										<li>
											<div class="posts-thumbnail-image">
												<a href="#">
													<img width="600" height="450" src="images/blog/blog-3.jpg" alt="" />
												</a>
											</div>
											<div class="posts-thumbnail-content">
												<time datetime="2014-06-09T15:05:07+00:00">Jun 9, 2014</time>
												<h4><a href="#">Donec lobortis lacinia</a></h4>
											</div>
										</li>
									</ul>
								</div> -->
							</div>
							<div class="footer-widget-col col-md-3 col-sm-6">
								<div class="widget tweets-widget">
									<h3>
										<span></span>
									</h3>
									<!-- <div class="recent-tweets">
										<ul>
											<li>
												<span>RT
												<a href="#" title="Follow EnvatoMarket" target="_blank">@EnvatoMarket</a>: The Best &amp; Worst Web Design Trends of 2014
												<a href="#" title="" target="_blank">http://t.co/CwQkBeTsUx</a> <a href="http://t.co/LZW0aGzKtV" title="" target="_blank">http://t.co/LZW0aGzKtV</a>
												</span>
												<a class="twitter_time" target="_blank" href="#">223 days ago</a>
											</li>
											<li>
												<span>RT
												<a href="#" title="Follow envato" target="_blank">@envato</a>: "Good design doesn't date. Bad design does." Paul Rand.
												</span>
												<a class="twitter_time" target="_blank" href="#">223 days ago</a>
											</li>
										</ul>
									</div> -->
								</div>
							</div>
							<div class="footer-widget-col col-md-3 col-sm-6">
								<div class="widget widget_text">
									<h3 class="widget-title">
										<span>Get in touch</span>
									</h3>
									<div class="textwidget">
										<p>
											<i class="fa fa-home"></i>&nbsp South of Heaven Inc | Key Largo, Fl<br><br />
											<i class="fa fa-phone"></i>&nbsp (305) 451-1200<br><br />
                      <i class="fa fa-map-marker"></i>&nbsp The Pink Plaza, <br>
                      &nbsp &nbsp 103400 Overseas Hwy #104, <br> &nbsp &nbsp Key Largo, FL 33037<br>
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

<!-- END FOOTER WIDGET -->

<!-- START FOOTER -->

<footer class="footer">
				<div class="footer-info">
					<div class="container">
						<div class="footer-info-wrap">
							<div class="row">
								<div class="col-sm-6">
									<div class="copyright">
										Copyright 2015 -  <a href="#">South Of Heaven</a>
									</div>
	            				</div>
	            			    <div class="col-sm-6">
	            					<div class="footer-menu">
										<ul class="footer-nav">
											<li><a title="About Us" href="#">About Us</a></li>
											<li><a title="FAQ" href="#">FAQ</a></li>
											<li><a title="Privacy Policy" href="/waiver">Waivers</a></li>

										</ul>
									</div>
								</div>
				            </div>
				         </div>
					</div>
				</div>
			</footer>

<!-- END FOOTER -->

</div>


  <script src="/js/jquery.modal.js" type="text/javascript" charset="utf-8"></script>

	<script type='text/javascript' src='/js/jquery.js'></script>
	<script type='text/javascript' src='/js/bootstrap.min.js'></script>

		<script type='text/javascript' src='/js/jquery.themepunch.tools.min.js'></script>

		<script type='text/javascript' src='/js/jquery.themepunch.revolution.min.js'></script>

		<script type='text/javascript' src='/js/preloader.min.js'></script>

		<script type='text/javascript' src='/js/easing.min.js'></script>

		<script type='text/javascript' src='/js/imagesloaded.pkgd.min.js'></script>



		<script type='text/javascript' src='/js/superfish-1.7.4.min.js'></script>

		<script type='text/javascript' src='/js/jquery.appear.min.js'></script>

		<script type='text/javascript' src='/js/script.js'></script>

		<script type='text/javascript' src='/js/jquery.parallax.js'></script>

		<script type='text/javascript' src='/js/jquery-migrate.min.js'></script>

		<script type='text/javascript' src='/js/jquery.countTo.min.js'></script>

		<script type='text/javascript' src='/js/isotope.pkgd.min.js'></script>

		<script type='text/javascript' src='/js/jquery.magnific-popup.min.js'></script>

		<script type='text/javascript' src='/js/jquery.touchSwipe.min.js'></script>

		<script type='text/javascript' src='/js/jquery.carouFredSel.min.js'></script>


</body>
</html>
